{
  "rules": {
    "space-before-blocks": [ 2, "always"],
    "semi": [ 2, "always" ],
    "no-console": 1,
    "no-useless-escape": "off"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:camunda-licensed/apache",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.json"],
      "rules": { "license-header/header": "off", "prettier/prettier": "off" }
    }
  ],
  "globals": {
    "requirejs": false,
    "expect": false,
    "it": false,
    "describe": false,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true
  }
}
